<h1>Ideas!</h1>
<%= link_to 'Create a new idea', new_idea_path %>

<div>
  <% if current_user.admin? %>
    <% @ideas.each do |idea| %>
      <%= render idea %>
    <% end %>
  <% else %>
    <% current_user.ideas.each do |idea| %>
      <%= render idea %>
    <% end %>
  <% end %>
</div>
