@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
}

.format {
  margin-left: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.icons {
  padding-left: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  border: 2px ridge #BFC7D3;
  margin: 10px;
  width: 70%;
  align-items: center;
}

.category-title {
  margin-left: 40px;
  margin-right: auto;
}

.idea-title {
  margin-left: 40px;
  margin-right: auto;
}

.idea-body {
  margin-right: 20px;
}
.image-card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-show-title {
  display: flex;
  align-items: center;
}

.image-show-title .delete {
  margin: 10px;
  height: 60%;
}

.image-card img {
  height: 300px;
  width: 400px;
}

.image-card h2 {
  margin-left: 30px;
}

.navbar {
  font-size: 20px;
  background-color: #A6ACAF;
  border-color: #909497;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #34495E;
}

.idea-images {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.each-checkbox {
  display: flex;
  align-items: center;
}
