<div class="card category-<%= category.id %>">
  <div class="icons">
    <%= link_to edit_category_path(category), class: "btn btn-default edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
     <% end %>

     <%= link_to category_path(category), method: 'delete', class: "btn btn-default delete" do %>
       <span class="glyphicon glyphicon-trash"></span>
     <% end %>
  </div>
  <div class="category-title">
    <h3><%= link_to category.name, category_path(category) %></h3>
  </div>

</div>
