<div class="image-show-title">
  <h1><%= @image.title %> </h1>
  <%= link_to image_path(@image), method: 'delete', class: "btn btn-default delete" do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
</div>

<div class="image-card">
  <img src="<%= @image.src %>" alt="<%= @image.title %>">
</div>
